<h1>How To Use And Access A MySQL Database From Python</h1> <br>
- By Derek Lilienthal

The first thing we need to do is make sure you have mysql installed. Run this is either your windows command prompt (or terminal) to make sure it's installed

<code>pip install mysql-connector-python</code>

Next, you need to create a python file of some sorts. <br>This can be done in your favorite IDE (like pycharm, jupyter, spyder, vim, etc...)

Next, import the mysql connector. Good practice is putting it in the top of your file <br>

In [1]:
import mysql.connector

Next is to connect to the database. This is done by specifing a couple things. 
1. Host Name
2. User Name
3. Password
4. Database name

<em> Note: These do not need to be in this order as long as they are specified in the code </em>

In [2]:
# Save the connection object to a variable
mydb = mysql.connector.connect(
  host="host_name
  user="user_name",
  password="password",
  database="database_name"
)

You can make sure it is connected by running this command

In [3]:
print(mydb.is_connected())

True

<h4>Now that you are connected to the data base, you can pull data from it by executing queries. </h4><br>
<em> Note: It is also good practice to close your database connection whenever you are done accessing it. You can do this by putting <b>mydb.close()</b> after your script. </em><br>
<em> Also note: Whenever you run the <b>mydb.close()</b>, you will need to restablish your connection to the data base by running the code that connects you to the db. </em>

<h2> Inserting Data </h2>

First, i will show how to insert data into the data base.

1. Create the SQL statement

To insert into the database, you need to follow the following format<br><br>
<b> INSERT INTO <em>table_name</em> (<em>column1, column2, column3, etc..</em>) VALUES (%s, %s, %s, %s,...) </b>

<em> Note: to insert into the db, you need to specify each column in the insert statement (except if there is an auto_incrementing id column). There also needs to be the same out of <b>%s</b> as there is insertable columns. </em>

In [4]:
# Save the query to a variable is not required, but will lead to better readability
sql = """
INSERT INTO test_data 
    (job_title, 
    geo_location, 
    years_experience, 
    education_level, 
    programming_languages, 
    IDE, 
    remote, 
    salary, 
    frameworks) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

Next, you need to specify the values that will replace the <b>%s</b>

In [5]:
job_title = 'Data Scientist'
geo_location = 'San Francisco, CA'
years_experience = '5+'
education_level = 'Masters or Ph.d'
programming_languages = 'Python'
IDE = 'Jupyter Notebooks'
remote = 'N'
salary = '190k'
frameworks = 'Flask'

# Save all the values into a tuple. This is also not required but will make for better readability.
val = (job_title, 
       geo_location, 
       years_experience, 
       education_level, 
       programming_languages, 
       IDE, 
       remote, 
       salary, 
       frameworks)

<em> Note: <b>ORDER OF COLUMNS MATTERS</b> when inserting. If you try to insert with the values not in the same order as they appear left to right in the data base, you're gonna have a bad time. </em>

Next, you need to instantiate a <b>cursor</b> object. What the cursor does is allow you to execute operations.

In [6]:
mycursor = mydb.cursor()

Finall, you can execute the query

In [7]:
mycursor.execute(sql, val)
mydb.commit()

<em><b>Note:</b> You must 'commit()' to the database. Otherwise, your query will <b>NOT</b> save. </em><br>
More information about inserting https://www.w3schools.com/python/python_mysql_insert.asp

If you want, you can check to see how many records were inserted.

In [8]:
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [9]:
# Closing the connection
mydb.close()
# Make sure we are closed
print(mydb.is_connected())

False

<h2> Running Queries / Getting Information </h2>

You get information from the data base by using a format like: <br><br>
<b>SELECT <em>column1, column2, column3, etc... </em> FROM <em>table_name</em> </b> <br><br>
If you want your query to specify a certain attribute, you need to have a query like <br>    
<b>SELECT <em>column1, column2, column3, etc...</em> FROM <em>table_name</em> WHERE <em>column1</em> = <em> whatever_you_want_it_to_equal</em>

For more information about how to make queries <br>
link: https://www.w3schools.com/sql/default.asp

Before running any queries, you will need to make sure that you are already connected to the data base.

In [10]:
mydb = mysql.connector.connect(
  host="host_name
  user="user_name",
  password="password",
  database="database_name"
)
print(mydb.is_connected())

True

Don't forget to create a cursor object!

In [11]:
mycursor = mydb.cursor()

Now there are <b><u>two</u></b> ways i know of to run queries on the data base.
1. Using fetchall()
2. Using pandas

<h3> Using fetchall() </h3>

This first way is a pretty explicit way to execute data. It is also the more lightweight version of getting data from the database but doesn't necessarly present it in a nice way.

<em>View all the data in the table</em>

In [12]:
# Create a query
sql = "SELECT * FROM test_data"
# Execute the query
mycursor.execute(sql)

Now that we've executed the query, we will need to fetch the data.

In [13]:
# Fetch the data and store it into a variable
result = mycursor.fetchall()

Print the results

In [14]:
print(result)

[(1, 'Java Developer', 'San Jose, CA', '3+', 'Masters', 'Java, C++', 'intellij', 'N', '90k', ''), (2, 'Java Developer', 'San Jose, CA', '3+', 'Masters', 'Java, C++', 'intellij', 'N', '90k', ''), (3, 'Data Scientist', 'San Francisco, CA', '5+', 'Masters or Ph.d', 'Python', 'Jupyter Notebooks', 'N', '190k', 'Flask'), (4, 'Data Scientist', 'San Francisco, CA', '5+', 'Masters or Ph.d', 'Python', 'Jupyter Notebooks', 'N', '190k', 'Flask')]

As we can see, the results gets printed into a list of tuples. By itself is not very pretty. So you may want to do some stuff to make it look nicer

In [15]:
# Loop through each row and print the result
for row in result:
    print(row)

(1, 'Java Developer', 'San Jose, CA', '3+', 'Masters', 'Java, C++', 'intellij', 'N', '90k', '')
(2, 'Java Developer', 'San Jose, CA', '3+', 'Masters', 'Java, C++', 'intellij', 'N', '90k', '')
(3, 'Data Scientist', 'San Francisco, CA', '5+', 'Masters or Ph.d', 'Python', 'Jupyter Notebooks', 'N', '190k', 'Flask')
(4, 'Data Scientist', 'San Francisco, CA', '5+', 'Masters or Ph.d', 'Python', 'Jupyter Notebooks', 'N', '190k', 'Flask')

<em> Note: Don't mind the double entries. This was from me running this program multiple times by accident </em>

Close the connection

In [16]:
# Closing the connection
mydb.close()
# Make sure we are closed
print(mydb.is_connected())

False

<h3> Using Pandas </h3>

The next method is using the python library of <b>pandas</b>

First, you need to make sure you have pandas installed <br><br>
<code>pip install pandas</code>

Next, we will need to import the libary.

In [17]:
import pandas as pd

<em> Don't forget to connect to the data base! </em>

In [18]:
mydb = mysql.connector.connect(
  host="host_name
  user="user_name",
  password="password",
  database="database_name"
)
print(mydb.is_connected())

True

<em>Note: You do not need to create a cursor object when using pandas </em>

Next, create the query

In [19]:
sql = "SELECT * FROM test_data"

Run the query using <br><br> <b>pd.read_sql( <em>query</em> , <em>database</em> ) </b> <br><br>
This then returns a pandas dataframe which is displayed very nicely

In [20]:
result_df = pd.read_sql(sql, mydb)

In [21]:
result_df

,job_id,job_title,geo_location,years_experience,education_level,programming_languages,IDE,remote,salary,frameworks
0,1,Java Developer,"San Jose, CA",3+,Masters,"Java, C++",intellij,N,90k,
1,2,Java Developer,"San Jose, CA",3+,Masters,"Java, C++",intellij,N,90k,
2,3,Data Scientist,"San Francisco, CA",5+,Masters or Ph.d,Python,Jupyter Notebooks,N,190k,Flask
3,4,Data Scientist,"San Francisco, CA",5+,Masters or Ph.d,Python,Jupyter Notebooks,N,190k,Flask

And that's it! It displays the information all nicely.

Don't forget to close the connection!

In [22]:
mydb.close()
print(mydb.is_connected())

False